<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sketcha!</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Expletus+Sans&family=Koulen&family=Patrick+Hand+SC&family=Press+Start+2P&family=Rubik+Iso&family=Skranji&display=swap" rel="stylesheet">
</head>
<body>
    <div id="content-container" class="w-full h-screen">
        <!-- ABSOLUTE VIEWS -->
        <div id="screen_loading" class="active_screen opacity-0">
            <div class="grid h-[50vh] m-auto">
                <h2 class="text-5xl m-auto font-patrick">LOADING</h2>
                <div class="lds-ripple m-auto"><div></div><div></div></div>
            </div>
        </div>
        <div id="loading_icon" class="hidden absolute w-full h-full z-[100] grid bg-gray-500 bg-opacity-25">
            <div class="lds-ripple m-auto"><div></div><div></div></div>
        </div>
        <span id="view_player_id" class="font-patrick absolute bottom-2 left-2"></span>
        <!-- GAME SCREENS -->
        <div id="game_screen_container" class="w-full h-screen m-auto grid opacity-0">
            <!-- HOME SCREENS -->
            <div id="screen_home_new" class="opacity-0 inactive_screen">
                <div class="grid h-[75vh] m-auto">
                    <h2 class="text-7xl m-auto font-patrick">SKETCHA</h2>
                    <div class="grid m-auto gap-4">
                        <button    
                            onclick="transition_screen(screen_home_new, screen_new_player)" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                            New
                        </button>
                        <button
                            disabled    
                            onclick="transition_screen(screen_home_new, screen_new_player)" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 disabled:opacity-50 disabled:hover:">
                            Continue
                        </button>
                        <button    
                            onclick="transition_screen(screen_home_new, screen_home_credits)" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                            How To Play
                        </button>
                        <button    
                            onclick="transition_screen(screen_home_new, screen_home_tutorial)" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                            Credits
                        </button>
                    </div>
                </div>
            </div>
            <div id="screen_new_player" class="opacity-0 inactive_screen">
                <div class="grid m-auto gap-4">
                    <h3 class="font-patrick text-2xl m-auto">Please enter your name</h3>
                    <input id="input_new_player" class="w-full m-auto border-2 border-black py-4 px-2">
                    <button
                        onclick="create_new_player()" 
                        class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                        Submit
                    </button>
                </div>
            </div>
            <div id="screen_new_welcome" class="opacity-0 inactive_screen">
                <div class="grid w-3/4 max-w-xl m-auto gap-8">
                    <p id="welcome-text" class="text-center m-auto text-xl w-full"></p>
                    <button
                        onclick="load_panel()" 
                        class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                        Begin
                    </button>
                </div>
            </div>
            <div id="screen_home_continue" class="opacity-0 inactive_screen">
                <div class="grid h-[75vh] m-auto">
                    <h2 class="text-7xl m-auto font-patrick">SKETCHA</h2>
                    <div class="grid m-auto gap-4">
                        <button    
                            onclick="reset_player()" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                            New
                        </button>
                        <button   
                            onclick="load_panel()" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 disabled:opacity-50 disabled:hover:">
                            Continue
                        </button>
                        <button    
                            onclick="transition_screen(screen_home_new, screen_home_credits)" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                            How To Play
                        </button>
                        <button    
                            onclick="transition_screen(screen_home_new, screen_home_tutorial)" 
                            class="m-auto min-w-[300px] py-2 text-3xl text-black font-patrick bg-white border-2 border-black transition duration-100 hover:bg-black hover:text-white">
                            Credits
                        </button>
                    </div>
                </div>
            </div>
            <div id="screen_home_panel" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_home_options" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_home_credits" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_home_tutorial" class="opacity-0 inactive_screen">

            </div>
            <!-- GACHA CHAR SCREENS -->
            <div id="screen_gacha_char_buy" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_gacha_char_open" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_gacha_char_result" class="opacity-0 inactive_screen">

            </div>
            <!-- GACHA ITEM SCREENS -->
            <div id="screen_gacha_item_buy" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_gacha_item_open" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_gacha_item_result" class="opacity-0 inactive_screen">

            </div>
            <!-- CHARACTER SCREENS -->
            <div id="screen_char_list" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_char_select" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_char_equip" class="opacity-0 inactive_screen">

            </div>
            <!-- ITEM SCREENS -->
            <div id="screen_item_list" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_item_select" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_item_equip" class="opacity-0 inactive_screen">

            </div>
            <!-- BATTLE SCREENS -->
            <div id="screen_battle_team" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_battle_select" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_battle_fight" class="opacity-0 inactive_screen">

            </div>
            <div id="screen_battle_finish" class="opacity-0 inactive_screen">

            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
<script src="{{ url_for('static', filename='js/screens.js') }}"></script>
<script src="{{ url_for('static', filename='js/player.js') }}"></script>
<script src="{{ url_for('static', filename='js/panel.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/start.js') }}"></script>
</html>